# Nest
/dist
/node_modules

# Logs
*.log
npm-debug.log*
logs

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Environment data
*.env